{{>header}}
{{>navbar}}

<div class="container">
{{#if isLogin}}
  <div class="row">
    <div class="col">
      <div class="form-signup-login">
        <h1>{{title}} - {{taskDone.0.username}}</h1>
          <form action="/add-task" method="POST">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Add Task</label>
                <div class="row">
                  <div class="col-sm-4">
                    <select class="form-select" aria-label="Default select example" name="listCollection">
                    <option selected>Select Collection</option>
                    {{#each listCollection}}
                    <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                  </select>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-md-10">
                     <input type="text" class="form-control" name="task" required>
                  </div>
                  <div class="col-md-2">
                      <button type="submit" class="btn btn-secondary fas fa-plus fa-lg mt-1"></button>
                  </div>
                </div>
            </div>
        </form>
        
        <div class="row">
          {{#each listCollection}}
          <a href = "detail-collection/{{this.id}}" class="col-sm-3 mt-2 text-decoration-none">
           <div class="collection-task"><p>{{this.name}}</p></div>
          </a>
          {{/each}}
        </div>

        <h1 class="mt-4">On Progress</h1>
        {{#each taskProgress}}
        <div class="list mt-3">
          <p style="flex: 10%;">{{this.name}}</p>
          <a class="btn btn-primary btn-sm" href="/mylist/edit-task/{{this.id}}" style="margin-right: 10px;">Edit</a>
          <a class="btn btn-success btn-sm " href="/mylist/is-done/{{this.id}}" role="button">Done</a>
        </div>
        {{/each}}
        <h1>Task Done</h1>
        {{#each taskDone}}
        <div class="list mt-3">
          <p style="flex: 10%;">{{this.name}}</p>
          <a class="btn btn-danger btn-sm" href="/mylist/delete-task/{{this.id}}" role="button">X</a>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
{{/if}}
</div>


{{>footer}}